body{
    background-image: url("../Images/FilmesRelacionados/FR-fundo.png");
}

main{
    padding: 2em 0;
}

.Two-Column-Layout {
    max-width: 85%;
    margin: 10em auto;
    justify-content: space-around;

    img{
        width: 20em;
        border-radius: 50%;}
    
}


.TCL-textdiv{
    max-width: 40%;
}