body{
    background-image: url("../Images/Galeria/galeria-fundo.png");
}

section h2{
    margin-bottom: 1em;
}

.flickity-page-dots{
    visibility: hidden;
}

.gallery-cell{
    width: 22em;
    height: 30em;
    background-size: cover;
    background-position: center;

}
