body{
    background-image: url("../Images/Sobre/fundo-sobre.png");
}

.card1{
    text-align: center;
    background-color: #EEE0C5;
    
}
.card1 h2, .card1 p{
    color: #99655A;
}

.resumo{
    background: no-repeat url("../Images/Sobre/resumo-bg.png");
    background-size: cover;
    align-items: start;

    img{
        max-width: 30em;
    }

}

.Two-Column-Layout{
    justify-content: center;
    
}
 
.criador{
    background: no-repeat url("../Images/Sobre/criador-fundo.png");
    background-size: cover;

    img{
        max-width: 25em;
    }
}

.beldam{
    background-image: url("../Images/Sobre/beldam-fundo.png");
    background-size: cover;
    gap: 0;
    img{
        width: 30em;
    }
}

.versao{
    text-align: center;
    background-image: url("../Images/Sobre/versoes-fundo.png");
    background-size: cover;

    > div{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2em;
        flex-wrap: wrap;
    }

    img{
        max-width: 15em;
    }

    p{
        font-size: 24px;
        margin: 1em;
    }
}